{% form 'contact' %}
  {{ form.errors | default_errors }}

  <div class="first-name">
    <label for="first-name">First name</label>
    <input type="text" name="contact[first_name]" id="first-name">
  </div>

  <div class="last-name">
    <label for="last-name">Last name</label>
    <input type="text" name="contact[last_name]" id="last-name">
  </div>

  <div class="phone">
    <label for="phone">Phone</label>
    <input type="tel" name="contact[phone]" id="phone">
  </div>

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="contact[email]" id="email">
  </div>

  <div class="order-number">
    <label for="order-number">Order number</label>
    <input type="text" name="contact[order_number]" id="order-number">
  </div>

  <div class="message">
    <label for="message">Message</label>
    <textarea name="contact[body]" id="message"></textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Create">
  </div>
{% endform %}

{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Get in touch"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Proin volutpat consequat porttitor cras nullam gravida at. Orci molestie a eu arcu. Sed ut tincidunt integer elementum id sem. Arcu sed malesuada et magna."
    },
    {
      "type": "textarea",
      "id": "address",
      "label": "Address",
      "default": "545 Mavis Island\nChicago, IL 99191"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "+1 (555) 234-5678"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "alek@outerpreneur.com"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image",
      "info": "Image size should be 1920x1080"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  fetch('https://restcountries.com/v3.1/all?fields=name')
    .then((response) => response.json())
    .then((countries) => {
      console.log(countries);
      const countrySelect = document.getElementById('country');
      countries.sort((a, b) => a.name.common.localeCompare(b.name.common));
      countries.forEach((country) => {
        const option = document.createElement('option');
        option.value = country.name.common;
        option.text = country.name.common;
        countrySelect.add(option);
      });
    });
{% endjavascript %}
